/* ## Colors */

:root {
/* ### Primary */
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);

/* ### Neutral */

--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);

/* fonts */

--primary-font-size: 15px;
--font-inter: 'Inter', sans-serif;
}

/* reset */

* {
    margin: 0;
    padding: 0;
}

/* structure */

.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: var(--off-white);
    font-family: var(--font-inter);
    max-height: 100vh;
}

.grid {
    display: grid;
    grid-template-areas:
    'hero hero new'
    'hero hero new'
    'future center-block new'
    'retro laptops gaming';
    gap: 2.5em;
}

.lower-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
}

/* header */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-top: 0.5em;
    font-size: 1.2em;
}

header nav {
    display: flex;
    list-style: none;
    gap: 2em;
}

.menu-toggle {
    display: none;
}

nav li {
    cursor: pointer;
}

nav li:hover {
    color: var(--soft-orange);
}

/* main */

main {
    min-height: 100%;
}

/* grid-blocks */
.hero {
    grid-area: hero;
    width: 100%;
    height: 100%;
}

.hero-mobile {
    grid-area: hero-mobile;
    display: none;
    width: 100%;
}

.new {
    grid-area: new;
    background-color: var(--very-dark-blue);
    color:var(--off-white);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.future {
    font-size: 3em;
    grid-area: future;
}

.center-block {
    grid-area: center-block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.retro {
    grid-area: retro;
}

.laptops {
    grid-area: laptops;
}

.gaming {
    grid-area: gaming;
}

/* block styles */

.news {
    margin-bottom: 1em;
}

.new h2 {
    color: var(--soft-orange);
    font-size: 2.5em;
    margin-bottom: 0.6em;
}

.new h3 {
    font-size: 1.3em;
    margin-bottom: 0.6em;
    cursor: pointer;
} 

.new h3:hover {
    color: var(--soft-orange);
}

.new p {
    font-weight: 200;
}

.new hr {
    margin: 2em 0;
    border: 1px solid hsl(40,8%,20%);
}

.center-block p {
    font-size: 1em;
    color: var(--dark-grayish-blue);
    line-height: 28px;
}

button {
    background-color: var(--soft-red);
    padding: 10px 15px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.lower-block-img {
    width: 120px;
}

.lower-block-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.lower-block h4 {
    color: var(--grayish-blue);
    font-size: 2.5em;
}

.lower-block h5 {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

.lower-block p {
    color: black;
    font-size: 1em;
    line-height: 28px;
    color: var(--dark-grayish-blue);
}

/* responsive styles */

@media only screen and (max-width: 1200px) {
    .grid {
        grid-template-areas:
        'hero-mobile'
        'future'
        'center-block'
        'new'
        'retro'
        'laptops'
        'gaming';
        gap: 4em;
    }
    .hero {
        display: none;
    }

    .container {
        width: 90%;
    }

    .center-block button {
        margin-top: 1.5em;
    }

    .hero-mobile {
        display: block;
    }
    .lower-block {
        margin-bottom: -4em;
    }

    header nav {
        display: none;
    }
    
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    main {
        margin-bottom: 3em;
    }

    .lower-block {
        margin-bottom: 1em;
    }
    .overflow {
        display: block;
    }
}

/* mobile menu */

.mobile-menu {
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--off-white);
    width: 70%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
	z-index: 2;
	transform: translateX(100%);
}

.open-menu {
    transform: translateX(0);
}

.close-menu {
    position: absolute;
    right:1em;
    top: 1em;
    cursor: pointer;
}

.mobile-menu nav {
    margin-top: 5em;
    list-style: none;
    margin-left: 2em;
}

.mobile-menu nav li {
    margin-bottom: 1em;
}

.overflow {
    background-color: black;
    opacity: 0.75;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    transform: translateX(-150px);
    transition: tranform 0.5s ease;
    display: none;
}